<tr>
  <td>
    <%= admin_link_to book.id, book %>
  </td>
  <td>
    <%= book.title %>
    <%= "(#{book.original_title})" if book.special_original_title? %>
  </td>
  <td>
    <%= admin_link_to book.author.fullname, admin_author_path(book.author) %>
  </td>
  <td>
    <%= admin_link_to "show", admin_book_path(book) %>
    <%= admin_link_to "edit", edit_admin_book_path(book) %>
    <%= external_link_to "wiki", book.wiki_url if book.wiki_url.present? %>
  </td>
  <td>
    <%= book.year_published %>
  </td>
  <td>
    <%= number_with_delimiter(book.wiki_popularity) %>
  </td>
  <td>
    <%= admin_timestamp(book.created_at) %>
  </td>
  <td>
    <%= admin_timestamp(book.updated_at) %>
  </td>
</tr>
