<table class="table">
  <thead>
    <th><%= sortable_table_column("ID", "id") %></th>
    <th><%= sortable_table_column("TITLE", "title") %></th>
    <th>AUTHOR</th>
    <th>LINKS</th>
    <th><%= sortable_table_column("YEAR", "year_published") %></th>
    <th><%= sortable_table_column("WIKI VIEWS", "wiki_popularity") %></th>
    <th><%= sortable_table_column("CREATED", "created_at") %></th>
    <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
  </thead>
  <%= render partial: "admin/books/books_index_row", collection: @books, as: :book %>
</table>
