<div class="b-cover-standard b-cover-<%= design.cover_image %>">
  <div class="b-standard-cover-title b-text-color-<%= design.title_color %> b-font-<%= design.title_font %>">
    <%= title %>
  </div>
  <span class="b-standard-cover-author align-bottom b-text-color-<%= design.author_name_color %> b-font-<%= design.author_name_font %>">
    <%= author_name %>
  </span>
</div>
