<div class="b-cover-standard" data-cover-image="<%= design.cover_image %>" title="<%= "\"#{title}\" by #{author_name}" %>">
  <div class="b-standard-cover-title"
    data-text-color="<%= design.title_color %>"
    data-font="<%= design.title_font %>">
    <%= title %>
  </div>
  <span class="b-standard-cover-author align-bottom"
    data-text-color="<%= design.author_name_color %>"
    data-font="<%= design.author_name_font %>">
    <%= author_name %>
  </span>
</div>
