<td>
  <%= link_to book.id, book, target: "_blank" %>
</td>

<td>
  <%= book.title %>
  <%= "(#{book.original_title})" if book.original_title.present? %>
</td>

<td>
  <%= link_to book.author.fullname, admin_author_path(book.author) %>
</td>

<td>
  <%= book.year_published %>
</td>

<td>
  <%= book.goodreads_rating %>
</td>

<td>
  <%= book.popularity %>
</td>

<td>
  <%= admin_timestamp(book.created_at) %>
</td>

<td>
  <%= admin_timestamp(book.updated_at) %>
</td>