<% admin_nav_crumbs "Books" %>

<%= render "admin/books/search_form" %>

<div class="container mt-4">
  <%= admin_buttonly_link_to "New book", new_admin_book_path %>
</div>

<div class="container mt-4">
  <%= render "admin/books/books_index_view_controls" %>

  <% if current_index_view == 'table' %>
    <%= render "admin/books/books_index_table" %>
  <% elsif current_index_view == 'covers' %>
    <%= render "admin/books/books_index_display" %>
  <% end %>

  <%= render "admin/books/books_index_view_controls" %>
</div>

