<% admin_nav_crumbs [admin_nav_books_link, admin_nav_book_link(@book)] %>

<div class="container mt-4">
  <div class="btn-group" role="group">
    <%= admin_buttonly_link_to "edit", edit_admin_book_path(@book) %>
    <%= admin_buttonly_link_to "generate info", new_admin_book_generative_summary_path(@book) %>
    <% if (next_book = @book.next_author_book).present? %>
      <%= admin_buttonly_link_to "next: #{truncate(next_book.title, length: 20, escape: false)} (#{next_book.year_published})",
        admin_book_path(next_book) %>
    <% end %>
    <% if @book.wiki_url.present? %>
      <%= button_to "sync wiki stats", admin_book_wiki_stats_path(@book), method: :put, class: "btn btn-primary me-1" %>
    <% end %>
    <% if @book.aws_covers.present? %>
      <%= button_to "delete cover", admin_book_custom_cover_path(@book), method: :delete, class: "btn btn-danger me-1" %>
    <% end %>
    <%= button_to "delete", @book, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    <%= display_link_to "show", book_display_path(@book) %>
  </div>
</div>

<div id="<%= dom_id @book %>" class="container mt-4">
  <div class="row">
    <div class="container col-md-6">
      <% if @book.title != @book.original_title %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Title:</div>
          <div class="col-md-9"><%= @book.title %></div>
        </div>
      <% end %>

      <% if @book.original_title.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Original Title:</div>
          <div class="col-md-9"><%= @book.original_title %></div>
        </div>
      <% end %>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Author:</div>
        <div class="col-md-9"><%= admin_link_to @book.author.fullname, admin_author_path(@book.author) %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Year Published:</div>
        <div class="col-md-9"><%= @book.year_published %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Form:</div>
        <div class="col-md-9">
          <%= @book.literary_form.humanize %>
        </div>
      </div>

      <% if @book.genres.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Genres:</div>
          <div class="col-md-9">
            <% @book.genres.each do |genre| %>
              <span class="badge bg-secondary mr-1"><%= genre.name %></span>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @book.tags.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Tags:</div>
          <div class="col-md-9">
            <% @book.tags.each do |tag| %>
              <span class="badge bg-secondary mr-1"><%= tag.name %></span>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @book.goodreads_url.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Goodreads:</div>
          <div class="col-md-9"><%= external_link_to 'URL', @book.goodreads_url %></div>
        </div>
      <% end %>

      <% if @book.wiki_url.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Wiki:</div>
          <div class="col-md-9"><%= external_link_to 'URL', @book.wiki_url if @book.wiki_url.present? %></div>
        </div>
      <% end %>

      <% if @book.wiki_popularity.positive? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Wiki views:</div>
          <div class="col-md-9"><%= @book.wiki_popularity %>, <%= @book.wiki_page_stats.count %> page(s)</div>
        </div>
      <% end %>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Created At:</div>
        <div class="col-md-9"><%= admin_timestamp(@book.created_at) %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Updated At:</div>
        <div class="col-md-9"><%= admin_timestamp(@book.updated_at) %></div>
      </div>
    </div>

    <div class="container col-md-6">
      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Cover:</div>
        <div class="col-md-9">
          <% if @book.cover_thumb_url.present? %>
            <%= image_tag @book.cover_thumb_url, class: "img-fluid b-cover-custom" %>
          <% end %>

          <%= render "admin/books/standard_cover", book: @book %>
        </div>
      </div>

      <% if @book.summary.present? %>
        <div class="row mb-3">
          <div class="col-md-3 font-weight-bold text-end">Summary:</div>
          <div class="col-md-9 b-book-summary">
            <%= @book.summary %>
            <% if @book.summary_src.present? %>
              <span class="b-book-summary-src">
                (<%= external_link_to truncate(@book.summary_src, length: 30), @book.summary_src %>)
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
