<% admin_nav_crumbs "AI Chats" %>

<div class="container mt-4">
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><%= sortable_table_column("ID", "id") %></th>
          <th>LINKS</th>
          <th>SIZE</th>
          <th><%= sortable_table_column("MODEL", "model_id") %></th>
          <th><%= sortable_table_column("CREATED", "created_at") %></th>
          <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
        </tr>
      </thead>

      <tbody>
        <% @chats.each do |chat| %>
          <tr>
            <td><%= chat.id %></td>
            <td>
              <%= admin_link_to "show", admin_ai_chat_path(chat) %>
            </td>
            <td><%= "#{chat.messages.size} messages | #{chat.messages.sum(:input_tokens)} input | #{chat.messages.sum(:output_tokens)} output" %></td>
            <td><%= chat.model_id %></td>
            <td><%= chat.created_at %></td>
            <td><%= chat.updated_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-4">
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>
