<% content_for :title, "Authors" %>

<div class="container mt-4">
  <%= admin_buttonly_link_to "New author", new_admin_author_path %>
</div>

<div class="container mt-4">
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <table id="admin_authors" class="table">
    <thead>
      <th><%= sortable_table_column("ID", "id") %></th>
      <th><%= sortable_table_column("NAME", "fullname") %></th>
      <th>LINKS</th>
      <th><%= sortable_table_column("YEARS", "birth_year") %></th>
      <th><%= sortable_table_column("CREATED", "created_at") %></th>
      <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
    </thead>
    <% @admin_authors.each do |author| %>
      <tr>
        <td>
          <%= admin_link_to author.id, author %>
        </td>
        <td>
          <%= author.fullname %>
        </td>
        <td>
          <%= admin_link_to "show", admin_author_path(author) %>
          <%= admin_link_to "edit", edit_admin_author_path(author) %>
          <%= external_link_to "wiki", author.reference if author.reference.present? %>
          <%= external_link_to "photo", author.photo_thumb_url if author.photo_thumb_url.present? %>
        </td>
        <td>
          <%= author.birth_year || '...' %>
          <%= "- #{author.death_year}" if author.death_year.present? %>
        </td>
        <td>
          <%= admin_timestamp(author.created_at) %>
        </td>
        <td>
          <%= admin_timestamp(author.updated_at) %>
        </td>
      </tr>
    <% end %>
  </table>
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
