<% admin_nav_crumbs "Genres" %>

<div class="container mt-4">
  <%= admin_buttonly_link_to "New genre", new_admin_genre_path %>
</div>

<div class="container mt-4">
  <table class="table">
    <thead>
      <th><%= sortable_table_column("ID", "id") %></th>
      <th><%= sortable_table_column("NAME", "name") %></th>
      <th>LINKS</th>
      <th><%= sortable_table_column("SPREAD", "connections_count") %></th>
      <th><%= sortable_table_column("CREATED", "created_at") %></th>
      <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
      <th>ACTIONS</th>
    </thead>
    <% @genres.each do |genre| %>
      <tr>
        <td>
          <%= admin_link_to genre.id, admin_genre_path(genre) %>
        </td>
        <td>
          <%= genre.name %>
        </td>
        <td>
          <%= admin_link_to "show", admin_genre_path(genre) %>
          <%= admin_link_to "edit", edit_admin_genre_path(genre) %>
        </td>
        <td>
          <%= genre.book_genres.size %>
        </td>
        <td>
          <%= admin_timestamp(genre.created_at) %>
        </td>
        <td>
          <%= admin_timestamp(genre.updated_at) %>
        </td>
        <td>
          <%= button_to "delete", admin_genre_path(genre), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
