<% admin_nav_crumbs admin_nav_genres_link, admin_nav_genre_link(@genre) %>

<div class="container mt-4">
  <div class="btn-group" role="group">
    <%= admin_buttonly_link_to "edit", edit_admin_genre_path(@genre) %>
    <%= button_to "delete", [:admin, @genre], method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" } %>
  </div>
</div>

<div class="b-genre-page container mt-4">
  <div class="row">
    <div class="container col-md-6">
      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Label:</div>
        <div class="col-md-9"><%= @genre.name %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Created At:</div>
        <div class="col-md-9"><%= admin_timestamp(@genre.created_at) %></div>
      </div>

      <div class="row mb-3">
        <div class="col-md-3 font-weight-bold text-end">Updated At:</div>
        <div class="col-md-9"><%= admin_timestamp(@genre.updated_at) %></div>
      </div>
    </div>

    <div class="container col-md-6">
      <% if @genre.cover_design.present? %>
        <div class="row mb-3">
          <%= render "admin/books/standard_cover_base",
                design: @genre.cover_design,
                title: @genre.name,
                author_name: "John Doe" %>
        </div>
      <% end %>
    </div>
  </div>

  <table class="table border">
    <thead>
      <th><%= sortable_table_column("ID", "id") %></th>
      <th><%= sortable_table_column("TITLE", "title") %></th>
      <th>AUTHOR</th>
      <th>FORM</th>
      <th>LINKS</th>
      <th><%= sortable_table_column("YEAR", "year_published") %></th>
      <th><%= sortable_table_column("WIKI VIEWS", "wiki_popularity") %></th>
      <th><%= sortable_table_column("CREATED", "created_at") %></th>
      <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
    </thead>
    <% @admin_books.each do |book| %>
      <tr>
        <td>
          <%= admin_link_to book.id, admin_book_path(book) %>
        </td>
        <td>
          <%= book.title %>
          <%= "(#{book.original_title})" if book.special_original_title? %>
        </td>
        <td>
          <%= admin_link_to book.author.fullname, admin_author_path(book.author) %>
        </td>
        <td>
          <%= book.literary_form.humanize %>
        </td>
        <td>
          <%= admin_link_to "show", admin_book_path(book) %>
          <%= admin_link_to "edit", edit_admin_book_path(book) %>
          <%= external_link_to "wiki", book.wiki_url if book.wiki_url.present? %>
        </td>
        <td>
          <%= book.year_published %>
        </td>
        <td>
          <%= number_with_delimiter(book.wiki_popularity) %>
        </td>
        <td>
          <%= admin_timestamp(book.created_at) %>
        </td>
        <td>
          <%= admin_timestamp(book.updated_at) %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
