<% admin_nav_crumbs "Tags" %>

<div class="container mt-4">
  <%= admin_buttonly_link_to "New tag", new_admin_tag_path %>
</div>

<div class="container mt-4">
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <table id="admin_tags" class="table">
    <thead>
      <th><%= sortable_table_column("ID", "id") %></th>
      <th><%= sortable_table_column("NAME", "name") %></th>
      <th>LINKS</th>
      <th><%= sortable_table_column("SPREAD", "tag_connections_size") %></th>
      <th><%= sortable_table_column("CATEGORY", "category") %></th>
      <th><%= sortable_table_column("CREATED", "created_at") %></th>
      <th><%= sortable_table_column("UPDATED", "updated_at") %></th>
      <th>ACTIONS</th>
    </thead>
    <% @admin_tags.each do |tag| %>
      <tr>
        <td>
          <%= admin_link_to tag.id, admin_tag_path(tag) %>
        </td>
        <td>
          <%= tag.name %>
        </td>
        <td>
          <%= admin_link_to "show", admin_tag_path(tag) %>
          <%= admin_link_to "edit", edit_admin_tag_path(tag) %>
        </td>
        <td>
          <%= tag.tag_connections.size %>
        </td>
        <td>
          <%= tag.category %>
        </td>
        <td>
          <%= admin_timestamp(tag.created_at) %>
        </td>
        <td>
          <%= admin_timestamp(tag.updated_at) %>
        </td>
        <td>
          <%= button_to "delete", admin_tag_path(tag), method: :delete, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </table>
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>
