<% admin_nav_crumbs [admin_nav_authors_link, admin_nav_author_link(@author)], "Books list" %>

<div id="<%= dom_id @author %>" class="container mt-4">
  <% if @author.reference.present? %>
    <div class="row mb-3">
      <div class="col-md-3 font-weight-bold text-end">Author's Wiki:</div>
      <div class="col-md-9"><%= external_link_to "WIKI", @author.reference %></div>
    </div>
  <% end %>
</div>

<% if @error.present? %>
  <div class="alert alert-danger">
    <p>ERROR:</p>
    <p><%= @error %></p>
  </div>
<% end %>

<% if @books.present? %>
  <%= render 'admin/books/batch_edit', books: @books %>
<% end %>

<% if @raw_data.present? %>
  <div class="alert alert-danger">
    <p>DATA:</p>
    <pre><%= @raw_data %></pre>
  </div>
<% end %>
