<div class="row" data-controller="cover-design-form">
  <div class="container col-md-6">
    <%= form_with(model: [:admin, :covers, design], local: true) do |form| %>
      <% if design.errors.any? %>
        <div class="alert alert-danger">
          <h4><%= pluralize(design.errors.count, "error") %> prohibited this cover design from being saved:</h4>
          <ul>
            <% design.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, class: "form-label" %>
        <%= form.text_field :name, class: "form-control",
            data: { cover_design_form_target: "nameInput", action: "keyup->cover-design-form#resetPreview" } %>
      </div>

      <div class="mb-3">
        <%= form.label :title_font %>
        <%= form.select :title_font,
            options_for_select(CoverDesign::FONTS.map { |name| [name.humanize, name] }, design.title_font),
            {},
            { class: "form-control", data: { cover_design_form_target: "titleFontInput", action: "change->cover-design-form#resetPreview" } } %>
      </div>

      <div class="mb-3">
        <%= form.label :title_color %>
        <%= form.select :title_color,
            options_for_select(CoverDesign::COLORS.map { |name| [name.humanize, name] }, design.title_color),
            {},
            { class: "form-control", data: { cover_design_form_target: "titleColorInput", action: "change->cover-design-form#resetPreview" } } %>
      </div>

      <div class="mb-3">
        <%= form.label :author_name_font %>
        <%= form.select :author_name_font,
            options_for_select(CoverDesign::FONTS.map { |name| [name.humanize, name] }, design.author_name_font),
            {},
            { class: "form-control", data: { cover_design_form_target: "authorNameFontInput", action: "change->cover-design-form#resetPreview" } } %>
      </div>

      <div class="mb-3">
        <%= form.label :author_name_color %>
        <%= form.select :author_name_color,
            options_for_select(CoverDesign::COLORS.map { |name| [name.humanize, name] }, design.author_name_color),
            {},
            { class: "form-control", data: { cover_design_form_target: "authorNameColorInput", action: "change->cover-design-form#resetPreview" } } %>
      </div>

      <div class="mb-3">
        <%= form.label :cover_image %>
        <%= form.select :cover_image,
            options_for_select(CoverDesign::COVER_IMAGES.map { |name| [name.humanize, name] }, design.cover_image),
            {},
            { class: "form-control", data: { cover_design_form_target: "coverImageInput", action: "change->cover-design-form#resetPreview" } } %>
      </div>

      <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="container col-md-6">
    <template data-cover-design-form-target="previewTemplate">
      <div class="b-cover-standard" data-cover-design-form-target="preview" data-name="container">
        <div class="b-standard-cover-title" data-name="title"></div>
        <span class="b-standard-cover-author align-bottom" data-name="author">
          <%= "Author" %>
        </span>
      </div>
    </template>
    <div data-cover-design-form-target="previewContainer">
    </div>
  </div>
</div>
