<% admin_nav_crumbs "Books" %>

<%= render "admin/books/search_form" %>

<div class="container mt-4">
  <%= admin_buttonly_link_to "New book", new_admin_book_path %>
</div>

<div class="container mt-4">
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-md-2">
        <%= image_tag book.cover_thumb_url || '#', class: "img-fluid", title: book.title %>
        <%= button_to "Remove", admin_covers_image_path(book.id), method: :delete, class: "btn btn-danger btn-sm",
          form: { class: "mt-1 mb-4" } %>
      </div>
    <% end %>
  </div>
  <div>
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>

