<% admin_nav_crumbs admin_nav_books_link, admin_nav_book_link(@book), "Summaries!" %>

<%= label_tag nil, "Summaries", class: "form-label" %>

<div class="container b-generative-summaries" data-controller="book-generated-summaries">
  <% @summaries.each do |summary| %>
    <div class="row mb-2 b-summary border">
      <div class="col-md-12">
        <p><%= summary[:summary] %></p>
        <% url = summary[:src] %>
      </div>
      <div class="col-md-6">
        <p>Genre: <%= summary[:genre] %>.</p>
        <p>Themes: <%= summary[:themes] %>.</p>
      </div>
      <div class="col-md-6 text-end">
        <p><%= external_link_to url, url %></p>
        <p>
          <%= button_tag "Pick", class: "btn btn-primary btn-sm",
            data: { action: "click->book-generated-summaries#onPick",
              book_generated_summaries_summary_param: summary[:summary],
              book_generated_summaries_src_param: summary[:src],
              book_generated_summaries_genres_param: summary[:genre],
              book_generated_summaries_themes_param: summary[:themes] } %>
        </p>
      </div>
    </div>
  <% end %>

  <div class="row b-summary border py-2">
    <div class="col-md-10">
      All themes: <%= @all_themes.join(", ") %>.
    </div>
    <div class="col-md-2 text-end">
      <%= button_tag "Add all", class: "btn btn-primary btn-sm",
        data: { action: "click->book-generated-summaries#onAddAllTags",
          book_generated_summaries_themes_param: @all_themes.join(",") } %>
    </div>
  </div>
</div>

<%= render "admin/books/form", book: @book, old_book: @book, form_handler: @form %>
