<!DOCTYPE html>
<html>
  <head>
    <title>Books.mthdr Admin > <%= yield :page_title %></title>
    <%= favicon_link_tag asset_path('bookshelf-icon.png') %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin", "data-turbo-track": "reload" %>
    <%= javascript_pack_tag "admin", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <%= link_to "HOME", root_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to "Books Index", admin_books_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Books Display", admin_books_display_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Authors", admin_authors_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Tags", admin_tags_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Genres", admin_genres_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "AI Chats", admin_ai_chats_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Cover Designs", admin_covers_cover_designs_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Image Covers", admin_covers_images_path, class: "nav-link" %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <% if notice %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= notice %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= alert %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>

      <h1><%= yield :title %></h1>

      <%= yield %>
    </div>
  </body>
</html>
